@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

body {

}

.page-main {
    background-image: url(../img/bg-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        display: block;
        width: 140px;
        height: 30px;
        background-color: white;
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        &__item {
            margin-left: 15px;
            color: white;
        }
    }
}

.block-start {
    text-align: center;
}

.block-text {
    h1 {
        color: white;
        margin-top: 350px;
        letter-spacing: 20px;
    }
    &__info {
        color: white;
        letter-spacing: 0.8px;
        display: block;
        width: 700px;
        margin-left: 300px;
        padding-top: 10px;
        line-height: 30px;
    }
}