<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <div class="page-main">
                <header>
                    <div class="header">
                        <a href="" class="header__logo">Restaraunt</a>
                        <ul class="header-list">
                            <li class="header-list__item"><a href="" class="header-list__link">Home</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">About Us</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Menu</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Faq</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">page</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Contact</a></li>
                        </ul>
                    </div>
                </header>
                <div class="wrap">
                    <div class="block-start">
                        <div class="block-text">
                            <h1 class="block-text_title">Grandrestaurant</h1>
                            <p class="block-text__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="page">
                <div class="wrap">
                    <div class="block-story">
                        <div class="block-story-img">
                        </div>
                        <div class="block-text">
                            <h2 class="block-text-title block-text-title__top">Our Story</h2>
                            <p class="block-text__info block-text__info-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-recept">
                <div class="wrap">
                    <div class="block-recept-info">
                        <h2>Singatures Recipes</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                    </div>
                </div>
            </div>
            <div class="page-menu">
                <div class="wrap">
                    <div class="block-menu">
                        <div class="block-text">
                            <h2>Our Menu</h2>
                        </div>
                        <div class="block-menu-eat">
                            <ul class="block-menu-eat__list">
                                <li><h3>TOASTED BREADS & BEEF DRIPPING BUTTER</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
                                <li><h3>BREAD BOARD PLATTER</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
                                <li><h3>STICKY CHIPOTLE CHICKEN </h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
                                <li><h3>SALT & PEPPER CALAMARI </h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
                                <li><h3>CLUCK & DUCK WINGS </h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
                                <li><h3>BEEF & BONE MARROW BON BONS </h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
                                <li><h3>GARLIC KING PRAWNS </h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
                                <li><h3>ANTIPASTI PLATE </h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-foto">
                    <div class="block-foto-img"><img src="../img/sen1.jpg" alt=""></div>
                    <div class="block-foto-img"><img src="../img/sen2.jpg" alt=""></div>
                    <div class="block-foto-img"><img src="../img/sen3.jpg" alt=""></div>
            </div>
                <div class="block-footer">
                    <div class="block-footer-text">
                        <h3>Restaraunt</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                    <div class="block-footer-item">
                        <h4>Sitemap</h4>
                        <ul>
                            <li><a href="" class="block-footer-item__list">What we do</a></li>
                            <li><a href="" class="block-footer-item__list">who we are</a></li>
                            <li><a href="" class="block-footer-item__list">Projects</a></li>
                        </ul>
                    </div>
                    <div class="block-footer-item">
                        <h4>Category</h4>
                        <ul>
                            <li><a href="" class="block-footer-item__list">Concreting</a></li>
                            <li><a href="" class="block-footer-item__list">Decoration</a></li>
                            <li><a href="" class="block-footer-item__list">Bulding</a></li>
                        </ul>
                    </div class="block-footer-item">
                        <div>
                        <h4>Menu</h4>
                        <ul>
                            <li><a href="" class="block-footer-item__list">About us</a></li>
                            <li><a href="" class="block-footer-item__list">Services</a></li>
                            <li><a href="" class="block-footer-item__list">Projects</a></li>
                        </ul>
                    </div>
                    <div class="block-footer-item">
                        <h4>Contat Us</h4>
                        <ul>
                            <li class="block-footer-item__list">855-5564-65651</li>
                            <li class="block-footer-item__list">Adres streets City</li>
                            <li class="block-footer-item__list">ssssss</li>
                        </ul>
                    </div>
                </div>
            </div>
        <script src="../js/main.js"></script>
        <script src="../js/vendor.js"></script>
    </body>
</html>